<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>Expand Collapse</title>

<link href="../../assets/css/global.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<!--container -->
    <div class="container">
    	<!--bs-docs-section -->
        <div class="bs-docs-section">
	        <h1 class="page-header" id="buttons">Accordion</h1>
						
            
            <h3>D'theme Accordion</h3>	
            <!--panel-group -->
            <div class="panel-group d-theme" id="accordion5" role="tablist" aria-multiselectable="true" >
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion5" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5" data-expandable="false">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseOne5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5"  data-expandable="false">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseTwo5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5"  data-expandable="false">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
            </div>
            <!--panel-group -->

            <h3>Scalable Accordion</h3>

            <!--panel-group -->
            <div class="panel-group d-theme accordion-scalable" id="accordion6" role="tablist" aria-multiselectable="true" >
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion6" href="#collapseOne6" aria-expanded="true" aria-controls="collapseOne6" data-expandable="false">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseOne6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseTwo6" aria-expanded="false" aria-controls="collapseTwo6"  data-expandable="false">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseTwo6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6"  data-expandable="false">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
            </div>
            <!--panel-group -->

            <h3>Accordion With All Expandable </h3>

            <!--panel-group -->
            <div class="panel-group d-theme" id="accordion2" role="tablist" aria-multiselectable="true" >
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2" data-expandable="true">
                                Expandable Group Item #1
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"  data-expandable="true">
                                Expandable Group Item #2
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"  data-expandable="true">
                                Expandable Group Item #3
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
            </div>
            <!--panel-group -->
            <button class="btn btn-raised ripple-effect btn-primary " data-target="accordion2" id="expandAll">Expand All</button>
            <button class="btn btn-raised ripple-effect btn-primary" data-target="accordion2" id="collapseAll">Collapse All</button><br />

            <h3>Accordion with icons</h3>

            <!--panel-group -->
            <div class="panel-group d-theme" id="accordion3" role="tablist" aria-multiselectable="true" >
                <!--panel -->
                <div class="panel">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <i class="dic-assessment dic dic-mood media-left"></i>
                            <a class="media-body" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3" data-expandable="false">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseOne3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <i class="dic-account-balance dic dic-mood media-left"></i>
                            <a class="media-body collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3"  data-expandable="false">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseTwo3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <i class="dic-verified-user dic dic-mood media-left"></i>
                            <a class="media-body collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3"  data-expandable="false">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
            </div>
            <!--panel-group -->

            <h3>Accordion with </h3>
            <!--panel-group -->
            <div class="panel-group d-theme" id="accordion4" role="tablist" aria-multiselectable="true" >
                <!--panel -->
                <div class="panel panel-warning">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <i class="dic-assessment dic dic-mood media-left"></i>
                            <a class="media-body" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4"  data-expandable="false">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseOne4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-danger">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <i class="dic-account-balance dic dic-mood media-left"></i>
                            <a class="media-body collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4"  data-expandable="false">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseTwo4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-success">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <i class="dic-verified-user dic dic-mood media-left"></i>
                            <a class="media-body collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4"  data-expandable="false">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-info">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <i class="dic-account-box dic dic-mood media-left"></i>
                            <a class="media-body collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4"  data-expandable="false">
                                Collapsible Group Item #4
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
            </div>
            <!--panel-group -->

            <h3>Simple Bootstrap</h3>	
            <!--panel-group -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-expandable="false">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"  data-expandable="false">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
                <!--panel -->
                <div class="panel panel-default">
                    <!--panel-heading -->
                    <div class="panel-heading list-group-item" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"  data-expandable="false">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <!--panel-heading -->
                    <!--panel-collapse -->
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--panel-collapse -->
                </div>
                <!--panel -->
            </div>
            <!--panel-group -->
        </div>
        <!--bs-docs-section -->  
    </div>		
    <!--container -->
</body>

<script src="../../assets/js/jquery.js"></script>
<script src="js/collapse.js"></script>
<script>
	$(document).ready(function() {
		
		//custom function to add and remove active class
		$(function () {			
			$(".collapse.in").parents(".panel").addClass("active");

			$('a[data-toggle="collapse"]').on('click',function(){

				var objectID=$(this).attr('href');
				var expandale = $(this).attr('data-expandable');
				if (expandale == 'true') {
					if($(objectID).hasClass('in')){
						$(objectID).collapse('hide');
					}
					else {
						$(objectID).collapse('show');
					}
				}
				$accoID = $(this).parents(".panel-group").attr("id");
				$availiblity = $(this).parents(".panel").children(".in").length;
				$expandable = $(this).attr("data-expandable");
				$expanded = $(this).attr("aria-expanded");
				$current = $(this).parent().parent().parent().parent().attr("id");
				if ($expandable == "false") {
					if($expanded == "true") {
						//alert("not exp closed")
						$("#"+ $current +" .active").removeClass("active");
					}
					else {
						//alert("not exp open")
						$("#"+ $current +" .active").removeClass("active");
						$(this).parents('.panel').addClass("active");
					}
				}
				if  ($expandable == "true") {
					if($expanded == "true") {
						$(this).parents('.panel').addClass("active");
					}
					else {
						$(this).parents('.panel').removeClass("active");
					}
				}
            });
                    
             // custom function for expand all and collapse all button 
			$('#expandAll').on('click',function(){
				var GetID = $(this).attr("data-target");
				$('#' + GetID +' '+'a[data-toggle="collapse"]').each(function(){
					var objectID=$(this).attr('href');
					if($(objectID).hasClass('in')===false)
					{
						 $(objectID).collapse('show');
						 $(objectID).parent().addClass("active");
					}
				});
			});
             //     
			$('#collapseAll').on('click',function(){
				var GetID = $(this).attr("data-target");
				$('#' + GetID +' '+ 'a[data-toggle="collapse"]').each(function(){
					var objectID=$(this).attr('href');
					$(objectID).collapse('hide');
					$(objectID).parent().removeClass("active");
				});
			});
                    
		});
   });

</script><script src="js/transition.js"></script>

</html>
