/*input focus bar*/
.paper-input-bar{ display: block; width: 100%; height: 2px; background-color: #e2e2e2;  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -ms-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; display:block; top:-1px; background-color: #8E8DBE; transform: scaleX(0); -moz-transform: scaleX(0);-ms-transform: scaleX(0); -o-transform: scaleX(0); -webkit-transform: scaleX(0); position:relative; z-index:2;}
.paper-input.floating-label-active .paper-input-bar { transform: scaleX(1); -moz-transform: scaleX(1);-ms-transform: scaleX(1);-o-transform: scaleX(1);-webkit-transform: scaleX(1);}

/*paper input*/
.form-group.paper-input{ margin-bottom:16px;}
.paper-input .form-control{background: transparent; border: none; border-bottom:solid 1px #e6e6e6; outline: none; box-shadow:none; padding:0; border-radius:0; font-size:16px;}
.paper-input .form-control{padding-bottom:6px;}
.paper-input input.form-control{height: inherit;}
.paper-input textarea.form-control{height: 80px;}
.paper-input label{font-weight:normal; line-height:1.4; font-size:12px; color:rgba(0, 0, 0, 0.4); margin-bottom: 0;}

/*paper input group*/
.input-group-floating-label{ padding-left:40px;}
.floating-label.floating-label-completed label.input-group-floating-label{transform: translateY(0px) translateX(-6%) scaleX(1); -moz-transform: translateY(0px) translateX(-6%) scale(0.74); -ms-transform: translateY(0px) translateX(-6%) scale(0.74); -o-transform: translateY(0px) translateX(-6%) scale(0.74); -webkit-transform: translateY(0px) translateX(-6%) scale(0.74);}
.paper-input .input-group-addon{ border:none; background-color: transparent;}
.paper-input .input-group .form-control{ float:inherit;}
.paper-input .input-group .input-group-addon{ padding:0;}
.paper-input .input-group .input-group-addon:first-child{ padding-right:16px;}
.paper-input .input-group .input-group-addon:last-child{ padding-left:16px;}

/*floating label*/
.floating-label { position: relative;}
.floating-label label {transform: translateY(26px); -moz-transform:translateY(26px); -webkit-transform:translateY(26px); -ms-transform:translateY(26px); -o-transform:translateY(26px); transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -moz-transition:all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -ms-transition:all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -o-transition:all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; -webkit-transition:all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s; margin:0; font-size: 16px;}
.floating-label .form-control{position: relative;}
.floating-label.floating-label-completed label { transform: translateY(0px) translateX(-13%) scaleX(1); -moz-transform: translateY(0px) translateX(-13%) scale(0.74); -ms-transform: translateY(0px) translateX(-13%) scale(0.74); -o-transform: translateY(0px) translateX(-13%) scale(0.74); -webkit-transform: translateY(0px) translateX(-13%) scale(0.74); color:rgba(0, 0, 0, 0.54)}

/*paper input error*/
.paper-input.has-success .form-control:focus,
.paper-input.has-warning .form-control:focus,
.paper-input.has-error .form-control:focus{box-shadow:none;}
.has-error-text{ display:none;}

/*has error*/
.paper-input.has-error .form-control{color:#a94442; border-color:#a94442;}
.paper-input.has-error .form-control ~ .paper-input-bar{ background-color:#a94442;}
.paper-input.has-error .form-control ~ .has-error-text{ color:#a94442; display:block;}

.paper-input.has-error .form-control:invalid{color:#a94442;}
.paper-input.has-error .form-control:invalid ~ .paper-input-bar{ background-color:#a94442;}
.paper-input.has-error .form-control:invalid ~ .has-error-text{ color:#a94442; display:block;}

/*has success*/
.paper-input.has-success .form-control{color:#3c763d; border-color:#3c763d;}
.paper-input.has-success .form-control ~ .paper-input-bar{ background-color:#3c763d;}
.paper-input.has-success .form-control ~ .has-error-text{ color:#3c763d; display:block;}

/*has success*/
.paper-input.has-warning .form-control{color:#8a6d3b; border-color:#8a6d3b;}
.paper-input.has-warning .form-control ~ .paper-input-bar{ background-color:#8a6d3b;}
.paper-input.has-warning .form-control ~ .has-error-text{ color:#8a6d3b; display:block;}