<aside class="sidebar sidebar-default sidebar-stacked sidebar-left open z-depth" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="dropdown my-account">
      <a href="#" class="btn-user dropdown-toggle media" data-toggle="dropdown" aria-expanded="false">
        <div class="media-left">
          <img width="80" height="30" src="http://easypay.co.in/images/rsz_logohome.png" class="img-circle" alt="avatar">
        </div>
        <div class="media-body media-middle">Easy Pay Admin</div>
        <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
      </a>
      <ul class="dropdown-menu" style="display: none;">
        <li> <a tabindex="-1" href="profile.html" class="ripple-effect"><i class="dic-person dic media-left media-middle"></i> <span class="media-body">View Profile</span></a></li>
        <li> <a tabindex="-1" href="javascript:void(0);" class="ripple-effect"><i class="dic-settings dic media-left media-middle"></i> <span class="media-body">Settings</span></a></li>
        <li> <a tabindex="-1" href="/" class="ripple-effect"><i class="dic-history dic media-left media-middle"></i> <span class="media-body">Logout</span></a></li>
        <li class="divider"></li>
      </ul>
    </li>
    <li><a class="ripple-effect" href="dashboard.html">Dashboard</a></li>
    <li><a class="ripple-effect" href="index.html">Table</a></li>
    <li class="dropdown"><a class="ripple-effect" href="form.html">Form</a></li>
    <li class="dropdown"><a class="ripple-effect" href="profile.html">Profile</a></li>
    <li class="dropdown"><a class="ripple-effect" href="login.html">Login</a></li>
    <li><a class="ripple-effect" href="inbox.html">Inbox</a></li>
    <li><a class="ripple-effect" href="notifications.html">Notifications</a></li>
  </ul>
</aside>
