<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
        <title>Range Slider</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/blue.css">
        <link rel="stylesheet" type="text/css" href="../icons/css/material-icon.css">
        <link rel="stylesheet" type="text/css" href="css/range-slider.css">
        <style>
			#slider .sample1, #slider .sample2 {
			padding: 20px 0;
			margin-bottom: 20px;
			}
			#slider .sample2 {
			height: 150px;
			}
			#slider .sample2 .slider {
			margin: 0 40px;
			}
			#slider h2 {
			padding: 14px;
			margin: 0;
			font-size: 16px;
			font-weight: 400;
			}
			#slider .slider {
			margin: 15px;
			position:relative
			}
			
			.tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -43px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}
.tooltip strong {
	display: block;
	padding: 2px;
}
			
        </style>
    </head>
    <body>
    <div id="slider" class="page active" style="display: block;">
        <h1>Horizontal Range Slider</h1>
        <div class="sample1">
            <div class="slider slider-material-orange shor" id="shor"></div>
        </div>
        <h1>Vertical Range Slider</h1>
        <div class="sample2">
            <div class="slider svert"></div>
            <div class="slider svert"></div>
            <div class="slider svert"></div>
        </div>

        <div class="example">
			<div id="slider-date">
            	<div class="noUi-base">
                	<div class="noUi-origin" style="left: 0%;">
                		<div class="noUi-handle noUi-handle-lower"></div>
                	</div>
                	<div class="noUi-origin" style="left: 98.722%;">
                		<div class="noUi-handle noUi-handle-upper"></div>
                    </div>
                </div>
            </div>
        </div>
	</body>
    <script src="../../assets/js/jquery.js"></script>
    <!--<script type="text/javascript" src="js/material.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.nouislider.min.js"></script>
    <script>
      $(function() {
        //$.material.init();
        $(".shor").noUiSlider({
          start: 40,
          //connect: "lower",
          range: {
            min: 0,
            max: 100
          }
        });

        $(".svert").noUiSlider({
          orientation: "vertical",
          start: 40,
          connect: "lower",
          range: {
            min: 0,
            max: 100
          }
        });
		
		// Create a new date from a string, return as a timestamp.
		function timestamp(str){
			return new Date(str).getTime();   
		}
		
		var dateSlider = document.getElementById('slider-date');
		
		noUiSlider.create(dateSlider, {
		// Create two timestamps to define a range.
			range: {
				min: timestamp('2010'),
				max: timestamp('2016')
			},
		
		// Steps of one week
			step: 7 * 24 * 60 * 60 * 1000,
		
		// Two more timestamps indicate the handle starting positions.
			start: [ timestamp('2011'), timestamp('2015') ],
		
		// No decimals
			format: wNumb({
				decimals: 0
			})
		});

		var dateValues = [
			document.getElementById('event-start'),
			document.getElementById('event-end')
		];
		
		dateSlider.noUiSlider.on('update', function( values, handle ) {
			dateValues[handle].innerHTML = formatDate(new Date(+values[handle]));
		});

		// Create a list of day and monthnames.
		var
			weekdays = [
				"Sunday", "Monday", "Tuesday",
				"Wednesday", "Thursday", "Friday",
				"Saturday"
			],
			months = [
				"January", "February", "March",
				"April", "May", "June", "July",
				"August", "September", "October",
				"November", "December"
			];
		
		// Append a suffix to dates.
		// Example: 23 => 23rd, 1 => 1st.
		function nth (d) {
		  if(d>3 && d<21) return 'th';
		  switch (d % 10) {
				case 1:  return "st";
				case 2:  return "nd";
				case 3:  return "rd";
				default: return "th";
			}
		}
		
		// Create a string representation of the date.
		function formatDate ( date ) {
			return weekdays[date.getDay()] + ", " +
				date.getDate() + nth(date.getDate()) + " " +
				months[date.getMonth()] + " " +
				date.getFullYear();
		}
		
      });
    </script>
	
</html>