<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Text Area</title>

<link rel="stylesheet" type="text/css" href="../../assets/css/global.css" />
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-push-3">
			<h3>Text Area</h3>
			<div class="card z-depth">
				<div class="form-group paper-input floating-label">
					<label class="control-label">Text Area</label>
					<textarea required class="form-control"></textarea>
				</div>
		    </div>
		</div>
	</div>
</div>	 
<script src="../../assets/js/jquery.js"></script> 
<script src="../../assets/js/dmaterial.js"></script> 
</body>
</html>
