<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Header</title>

<link href="../../assets/css/global.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/blue.css">

</head>

<body>

  <header class="fixed-top" data-0="height:192px" data-128="height: 64px">
      <a href="#" class="icon pull-right"><i class="dic-more-vert dic"></i></a> 
      <a href="#" class="icon pull-right"><i class="dic-search dic"></i></a> 
      <a href="#" class="icon pull-left"><i class="dic-menu dic"></i></a>
   
    <div id="title" class="site-title" data-0="font-size: 48px; padding:100px 0 24px 60px;" data-128="font-size:21px; padding:4px 0 21px 60px;">
      Page Title
    </div>
  </header>
  
  
  <header class="z-depth fixed-top" style="margin-top:200px;"> 
		<a href="#" class="icon pull-right"><i class="dic-more-vert dic"></i></a> 
        <a href="#" class="icon pull-right"><i class="dic-search dic"></i></a> 
        <a href="#" class="icon pull-left"><i class="dic-menu dic"></i></a>
	  	<div class="site-title">
			<h2 data-0="left:60px;" data-128="left:60px;">Docs</h2>
	  	</div>
	</header>
  
<div style="height:2000px; width:100%; float:left;"></div>
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="js/skrollr.js"></script> 

<script>
	$(document).ready(function () {
		skrollr.init({smoothScrolling: true,});
	});
</script>

</body>
</html>
