/* 
---------------------------------------
	Dmaterial Style Guide Version 1.1
---------------------------------------	
* 	Primary Color : #4285f4
* 	Highlighted Text (Title) Color & Fonts : rgba(0,0,0,0.87), Roboto Family
* 	Body Text Color & Fonts : rgba(0,0,0,0.54), Roboto Family
* 	font-family: 'Roboto', sans-serif;

---------------------------------------
	Elements Covered
---------------------------------------
* 	Typography
* 	Buttons
* 	Form Elements and theme
* 	Icons
--------------------------------------- 
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);

@font-face {
font-family: 'DMaterial';
src:url('../../../../../assets/fonts/DMaterial.eot?-7hbn4h');
src:url('../../../../../assets/fonts/DMaterial.eot?#iefix-7hbn4h') format('embedded-opentype'),
url('../../../../../assets/fonts/DMaterial.woff?-7hbn4h') format('woff'),
url('../../../../../assets/fonts/DMaterial.ttf?-7hbn4h') format('truetype'),
url('../../../../../assets/fonts/DMaterial.svg?-7hbn4h#DMaterial') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {font-family: 'Roboto', sans-serif; font-size:16px; line-height:1.6; color:#333333; background-color:#EEEEEE;}

/*======= Typography =======*/
h1, h2, h3, h4, h5, h6{font-family: 'Roboto', sans-serif;}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong{font-weight:500;}

/* Font Size */
h1{font-size:32px; font-weight:300;}
h2{font-size:24px; font-weight:400;}
h3{font-size:20px; font-weight:500;}
h4{font-size:18px; font-weight:400;}
h5{font-size:16px; font-weight:500;}

/* Custom Font Family */
.fw-light{font-weight:300;}
.fw-regular{font-weight:400;}
.fw-medium{font-weight:500;}
.fw-bold{font-weight:600;}

/* Other Element Style */
em{font-style:italic;font-weight:300;color:#999999;}
.lead{font-size:20px; color:#333; margin-bottom:24px;line-height:1.6;font-weight:300;}
strong, b{font-weight:500; color:#333;}
label{font-weight:normal;color:#999999;}
a{color:#333;}
a:hover, a:focus, a:active{}

/*======= Button =======*/
/* theme style */
.btn{font-weight:500;text-decoration:none;}

/* Primary Button */
.btn-primary{background-color:#4285f4;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{background-color:#006B55; color:#fff;}

/* Primary Button Orange */
.btn-primary.btn-orange{background-color: #e36d0e;}
.btn-primary.btn-orange:hover, .btn-primary.btn-orange:focus, .btn-primary.btn-orange:active, .btn-primary.btn-orange:active:focus{background-color:#D3610B;}

/* Secondary Button */
.btn-secondary{background-color:#333333; color:#fff;}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active{background-color:#4285f4; color:#fff;}

/* Outline Button */
.btn-outline{background-color:transparent;border:1px solid #4285f4;color:#4285f4;}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active{background-color:#4285f4; color:#fff;}

/* Outline Button Orange */
.btn-outline.btn-orange{background-color:transparent;border:1px solid #e36d0e;color:#e36d0e;}
.btn-outline.btn-orange:hover, .btn-outline.btn-orange:focus, .btn-outline.btn-orange:active{background-color:#e36d0e; color:#fff;}

/* Default Button */
.btn-default{background-color:#f5f5f5;color:#4285f4;}
.btn-default:hover, .btn-default:focus, .btn-default:active{background-color:rgba(6,128,104,0.16); color:#4285f4;}

/* Default Button Orange */
.btn-default.btn-orange{background-color:transparent;color:#e36d0e;}
.btn-default.btn-orange:hover, .btn-default.btn-orange:focus, .btn-default.btn-orange:active{background-color:rgba(277,109,14,0.16); color:#D3610B;}

/* Link Button */
.btn-link{color:#4285f4;min-width:inherit;}
.btn-link:hover, .btn-link:focus, .btn-link:active{color:#333;}

/* Button Ripple Background */
.btn .ink{background-color:rgba(255,255,255,0.74) !important;}

/*======= Input Fields and Select Box =======*/
/* INVERSE THEME */
/* Normal */
form.theme-inverse .bar{background-color:#4285f4;} 
.floating-label.floating-label-completed label{opacity:0.54;}
form.theme-inverse .floating-label label{color:#fff;}
form.theme-inverse .select2-container--default .select2-selection--single .select2-selection__rendered, form.theme-inverse .paper-input .form-control{color:#fff;border-color:rgba(255,255,255,0.54)}

/* Error */
form.theme-inverse .paper-input.has-error .form-control:invalid ~ .bar{background-color: #ee3322;}
form.theme-inverse .paper-input.has-error .form-control:invalid ~ .has-error-text{color:#ee3322;}
form.theme-inverse .paper-input.has-error .form-control:invalid{border-color:#ee3322;color:#ee3322;}
form.theme-inverse .has-error.floating-label.floating-label-completed label, form.theme-inverse .radio, form.theme-inverse .checkbox{color:#fff;}

/* DEFAULT THEME */
/* Normal */
.paper-input .form-control{border-color:rgba(0,0,0,0.14);}
.bar{background-color:#4285f4;}

/* Error */
.paper-input.has-error .form-control:invalid{color:#ee3322; border-color:#ee3322}
.paper-input.has-error .form-control:invalid ~ .bar{background-color:#ee3322;}
.has-error.floating-label.floating-label-completed label{color:#ee3322; opacity:0.64;}
.paper-input.has-error .form-control:invalid ~ .has-error-text{font-size:12px;color:#ee3322;opacity:0.87}

/*======= Radio & Checkbox =======*/
/* DEFAULT THEME */
/* Normal */
.dc-radio > span.dc-radio-label::before, .dc-checkbox [type="checkbox"]:not(:checked) + .dc-checkbox-label::before{border-color:rgba(0,0,0,0.34);}
.radio .dc-radio{color:#777; font-size:14px;}

/* Checked */
.dc-radio > span.dc-radio-label::after{background-color:#4285f4;}
.dc-radio *:checked + span.dc-radio-label::before{ background-color:transparent; border-color:#4285f4;}
.dc-checkbox [type="checkbox"]:checked + .dc-checkbox-label::before{ background-color:#4285f4; border-color:#4285f4;}

/* INVERSE THEME */
/* Normal */
form.theme-inverse .dc-radio > span.dc-radio-label::before, form.theme-inverse .dc-checkbox [type="checkbox"]:not(:checked) + .dc-checkbox-label::before{border-color:rgba(255,255,255,0.34);}

/* Checked */
form.theme-inverse .dc-checkbox [type="checkbox"]:checked + .dc-checkbox-label::before{background-color:#4285f4;border-color:#4285f4;}
form.theme-inverse .dc-radio *:checked + span.dc-radio-label::before{background-color:transparent;border-color:#4285f4;}
form.theme-inverse .dc-checkbox [type="checkbox"]:not(:checked) + .dc-checkbox-label::after,
form.theme-inverse .dc-checkbox [type="checkbox"]:checked + .dc-checkbox-label::after{color:#608068;}
form.theme-inverse .dc-radio *:checked + span.dc-radio-label::after{background-color:#4285f4;}
form.theme-inverse .dc-checkbox [type="checkbox"]:not(:checked) + .dc-checkbox-label::after,
form.theme-inverse .dc-checkbox [type="checkbox"]:checked + .dc-checkbox-label::after{color:#ffffff;}

/*======= Icons =======*/
.dic-custom.dic svg{height:28px; width:28px; fill:#333;}

/* Icon Inverse */
.dic.dic-inverse{color:#fff;}
.dic.dic-inverse.dic-custom svg, .dic.dic-inverse.dic-custom.dic svg path{fill:#fff;}

/* Bedge */
.badge {padding:0;width:22px;height:22px;line-height:20px;text-align:center;border-radius:50%;font-size:12px;color:#4285f4;background-color:#fff;border:2px solid #4285f4;}
/*======= Icons =======*/

/*======= Navbar =======*/
.navbar-inverse{ border-color:#4285f4; background-color:#4285f4;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{color:#fff;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{ background-color:#336fd3;}

/*======= My Account =======*/
.sidebar .my-account > a{background-image: url(../../../../../assets/images/profile-pic.png);}

/*======= Table =======*/
.table > thead > tr > th, .table > tbody > tr > th.more-btn, .table > tfoot > tr > th.more-btn, .table > thead > tr > td.more-btn, .table > tbody > tr > td.more-btn, .table > tfoot > tr > td.more-btn{padding:0.4rem 0.75rem;}