/*common css*/
h2 { font-size:2.50rem; font-weight:300;}
p { font-size:16px; color:rgba(0, 0, 0, 0.7);}
.btn-primary { background-color:#003993;}
.btn-primary:hover { background-color:#0047B8;}

.about-panel, .template-panel, .component-panel {color:#fff; font-size:1.4rem;}

/*header*/
.main-bg { background: #0047B8;}
.header-title h1 { color:#fff; font-size:43px; line-height:50px; margin-bottom:140px; margin-top:50px; font-weight:300;} 

/*navbar*/
.navbar-inverse.navbar-transparent {background-color:transparent; border-color:transparent; -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;	-ms-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s; transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s; border:0;}
.navbar-collapse.collapse { background-color:#003993; padding-top:2px;}
.scrollable-wrapper { padding:0!important; height:50px;}

/*logo*/

.navbar-inverse .navbar-brand {color: #fff; font-weight:300; text-transform:uppercase; font-size:36px; padding:30px 0 0 15px;}
.navbar-inverse .navbar-brand span { font-size:37px;}

/*about*/
.about-panel .card-header { background:#eee; margin-bottom:0; padding-bottom:16px; text-align: center; font-size:25px; color:#333;}
.about-panel .card-media-heading { font-size:20px;}
.about-panel .card-media { max-height:176px;}
.about-panel .card-body { min-height:95px; max-height:95px; overflow:hidden;}
.about-panel .img-responsive { margin:0 auto;}
.about-panel .card:hover{-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-webkit-transition:box-shadow ease-in 0.3s;-moz-transition:box-shadow ease-in 0.3s;transition:box-shadow ease-in 0.3s;}
.about-panel h2 { color:#333333; margin-bottom:35px;}
.about-title { color:#333333;}
.about-panel dl dt { font-size:18px;}
.about-panel { padding:100px 0; font-size:15px; line-height:23px;}
.about-panel dl{width:100%;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch; margin:0;}
.about-panel dl dt { display:inline-block; text-align: right; vertical-align: top; display: inline-table; margin-right: 24px; line-height: 2em; font-weight:500; white-space:nowrap;}
.about-panel dl dd {text-align: left; line-height: 2em; vertical-align: top; margin: 0 0 0 24px; display:inline; font-size:14px;}
.about-panel .btn-add { margin: 0 -40px; position:relative; top:143px; z-index:1;}
.about-panel .btn-add .dic { font-size:35px;}
/*templates*/
.template-panel { padding:70px 0;}
.template-text p {color:#fff; max-width:700px; margin:0 auto 40px;}
.template-text p span { display: block;  font-size: 20px;  font-weight: 600; line-height: 25px; margin: 24px 0;}
.template-panel .template-text h2 { color:#333333;}
.template-panel .template-text p { color:#333333;}
.template-text h2 { margin-top:0; margin-bottom:25px;}
.template-banner { margin:0;}
.browse-theme { text-align:center; margin-top:55px;}

.center .slick-center h3{-moz-transform:scale(1.25);-ms-transform:scale(1.25);-o-transform:scale(1.25);-webkit-transform:scale(1.25);color:#e67e22;opacity:1; z-index:1;transform:scale(1.25);}
.center .slick-center h3:after {
   content:"";
   position: absolute;
   top:100px;right:0;bottom:0;left: 0;
   z-index:-2;      
   -webkit-box-shadow:0px 370px 15px -35px rgba(0,0,0,.25);
   -moz-box-shadow:0px 370px 15px -35px rgba(0,0,0,.25);
   box-shadow:0px 370px 15px -35px rgba(0,0,0,.25);
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   transform:scaleY(.3);
   -webkit-transform:scaleY(.3);
   -moz-transform:scaleY(.3);
   -ms-transform:scaleY(.3);
   -o-transform:scaleY(.3);
}
.slick-slide img { width:100%; padding:3px; margin-bottom:80px;}

.center h3{ opacity:0.5; transition:all 300ms ease; margin-top:40px; }
.blue{background:#3498db;color:#fff;}
.blue h3{background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;}


/*component*/
.component-panel { background:url(../images/component-banner.jpg) no-repeat center center; margin:0 auto; background-size:cover; cursor:pointer;}
.component-panel .overlay { background:rgba(0,0,0,0.75); padding:90px 0;}
.component-panel .template-text { max-width:700px; margin:0 auto;}
.component-panel .template-text p { margin-bottom:10px;}

.download-kit {background-color:#003993; height:6rem; font-weight:500; text-transform:uppercase; border-radius:0;}
.download-kit:hover {background-color:#002C73;}

/*----------------------------------- Media Queries ---------------------------*/

@media only screen and (min-width:1366px) and (max-width:1900px){}

@media only screen and (min-width:1101px) and (max-width:1366px){}

@media only screen and (min-width:1024px) and (max-width:1100px){
.slick-prev, .slick-next { margin-top: -10px;}
.about-panel .btn-add { top:133px;}
.slick-slide img { margin-bottom:20px;}
}
@media screen and (max-width: 991px){
.about-panel, .template-text { padding:50px 0;}
.component-panel{ padding:0;}
.template-panel { padding:50px 0;}
.about-panel, .template-text { padding:20px 0; text-align:center;}
.component-banner { height:177px; width:290px; margin:0 auto;}
.component-panel .template-text, .about-panel, .template-text { margin:0 auto; max-width:100%;}
.about-panel .card-media-heading { font-size:16px;}
.about-panel .btn-add { top:113px;}
.slick-slide img { margin-bottom:40px;}
.browse-theme { margin-top: 15px;}
.component-panel .browse-theme { margin-top:55px;}
.template-panel .template-text p { margin-bottom:0;}
}



@media only screen and (min-width:900px) and (max-width:1024px){

}

@media only screen and (min-width:768px) and (max-width:899px){

}

@media screen and (max-width: 767px){
.navbar-inverse .navbar-brand { padding-top:0;}
.header-title h1 { font-size:35px; line-height:42px;}
.navbar-collapse.collapse { padding:0;}
.about-panel dl {-webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.about-panel dl dt, .about-panel dl dd { width:100%; padding:0; margin:0; text-align:left;}
.about-panel { padding: 30px;}
.main-bg { padding:50px 0;}
.dc-header .navbar-toggle { margin-top:0;}
.nav-tabs.nav-justified > li > a { text-align:left; margin:0;}
.nav-tabs > li > a { opacity:0.7;}
.dc-tabs-bg { background-color:#fff; height:100%;}
.download-kit { height:4rem;}
.header-title h1 { margin:0;}
.slick-slide img {margin-bottom:10px;}
h2 { font-size:2.0rem;}
.about-panel .card-media-heading { font-size:20px;}
.about-panel .btn-add {  height: 90px; margin: -30px 0; text-align: center; top: -10px; width: 100%;}
.browse-theme{ margin-top:55px;}


}

@media only screen and (min-width:481px) and (max-width: 991px){

.component-banner {
    height: 217px;
    margin: 0 auto;
    width: 357px;
}
}
@media only screen and (min-width:479px) and (max-width: 480px){

}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 320px){
}


/*----------------------------------- Media Queries ---------------------------*/
