/*Dmaterial*/
html { font-size: 16px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body { font-family: 'Roboto'; font-size: 0.875rem; line-height: 1.6; color: #333; background-color: #ededed;}
a{ color: #337ab7; text-decoration: none; outline:none;}
a:focus, a:hover { outline: none; outline: none; outline-offset:-2px; text-decoration:none;}