<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>Menu</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/global.css">
</head>
<body>

<nav class="navbar navbar-default dc-header z-depth">
  <div class="container-fluid">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button class="ripple-effect navbar-toggle navbar-sidebar-toggle" type="button">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a href="#" class="navbar-brand">Brand</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse dc-navbar-sidebar">
	
	  <div class="dropdown my-account pull-right">
		  <a href="#" class="btn-user dropdown-toggle media" data-toggle="dropdown" aria-expanded="false">
			  <div class="media-left">
				  <img src="../../assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">
			  </div>
			  <div class="media-body media-middle">
				Abhishek Desai
			  </div>
			  <div class="media-right media-middle">
				<i class="dic-more-vert dic"></i>
			  </div>
		  </a>
		  <ul class="dropdown-menu" role="menu">
			<li><a href="profile.html">Edit Profile</a></li>
			<li><a href="login.html">Logout</a></li>
		  </ul>
		</div>
			
	  <ul class="nav navbar-nav">
		<li><a class="ripple-effect" href="javascript:void(0);">Link <span class="sr-only">(current)</span></a></li>
		<li><a class="ripple-effect" href="javascript:void(0);">Link</a></li>
		<li class="dropdown">
		  <a data-toggle="dropdown" class="ripple-effect dropdown-toggle" href="javascript:void(0);">Dropdown <span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a class="ripple-effect" href="javascript:void(0);">Action</a></li>
			<li><a class="ripple-effect" href="javascript:void(0);">Another action</a></li>
			<li><a class="ripple-effect" href="javascript:void(0);">Something else here</a></li>
			<li class="divider"></li>
			<li><a class="ripple-effect" href="javascript:void(0);">Separated link</a></li>
			<li class="divider"></li>
			<li><a class="ripple-effect" href="javascript:void(0);">One more separated link</a></li>
		  </ul>
		</li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li><a class="ripple-effect" href="javascript:void(0);">Link</a></li>
		<li class="dropdown">
		  <a aria-expanded="false" role="button" data-toggle="dropdown" class="ripple-effect dropdown-toggle" href="javascript:void(0);">Dropdown <span class="caret"></span></a>
		  <ul role="menu" class="dropdown-menu">
			<li><a class="ripple-effect" href="javascript:void(0);">Action</a></li>
			<li><a class="ripple-effect" href="javascript:void(0);">Another action</a></li>
			<li><a class="ripple-effect" href="javascript:void(0);">Something else here</a></li>
			<li class="divider"></li>
			<li><a class="ripple-effect" href="javascript:void(0);">Separated link</a></li>
		  </ul>
		</li>
	  </ul>
	  
	</div><!-- /.navbar-collapse -->
	
  </div><!-- /.container-fluid -->
</nav>

<!-- Floating Action Button like Google Material -->
<div class="menu floating-action"  role="navigation">    
	<a href="#" class="floating-action-btn btn btn-sm btn-circle btn-raised ripple-effect btn-default" data-title="Option">
		<span class="hide-accessible">Option</span><i class="dic-supervisor-account dic"></i>
	</a>
	<a href="#" class="floating-action-btn btn btn-sm btn-circle btn-raised ripple-effect btn-default" data-title="Option">
		<span class="hide-accessible">Option</span> <i class="dic-cloud-queue dic"></i>
	</a>
	<a href="#" class="floating-action-btn btn btn-sm btn-circle btn-raised ripple-effect btn-default" data-title="Option">
		<span class="hide-accessible">Option</span> <i class="dic-headset dic"></i>
	</a>
	<a href="#" class="floating-action-btn btn btn-sm btn-circle btn-raised ripple-effect btn-default" data-title="Option">
		<span class="hide-accessible">Option</span> <i class="dic-dialpad dic"></i>
	</a>
	<a class="floating-action-btn btn btn-circle btn-raised ripple-effect btn-primary" data-title="Primary" href="#">
		<span class="hide-accessible">Primary</span><span class="dic-add dic"></span>
	</a>
</div>

<div class="sidebar-overlay"></div>

<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/ripple.js" language="javascript" type="text/javascript"></script>
<script src="../sidebar/js/sidebar.js" language="javascript" type="text/javascript"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.js"></script> 

</body>
</html>