<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>Checkbox</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/global.css" />
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-push-3">
			<h3 class="header">Checkbox</h3>
			<div class="card z-depth">
				<div class="card-body">
					<div id="checkbox" class="page active">
						
						<!-- Simple checkbox with label -->
						<h4 class="header">Checkboxes</h4>
						
						<!-- Simple checkbox with label, checked -->
						<div class="checkbox dc-default-theme">
							<label class="dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="" checked>
								<span>On</span>
							</label>
						</div>
						
						<!-- Simple checkbox with label -->
						<div class="checkbox dc-default-theme">
							<label class="dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
								<span> Option one is this and that&mdash;be sure to include why it's great</span>
							</label>
						</div>
						
						<!-- Simple checkbox with label, Disabled -->
						<div class="checkbox dc-default-theme disabled">
							<label class="dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="" disabled>
								<span>Option two is disabled</span>
							</label>
						</div>
						<hr>
						<!--Inline checkboxes-->
						<h4 class="header">Inline Checkboxes</h4>
						<form>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="" checked>
								<span> 1</span>
							</label>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
								<span> 2</span>
							</label>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
								<span> 3</span>
							</label>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-push-3">
			<h3 class="header">Checkbox</h3>
			<div class="card card-inverse z-depth">
				<div class="card-body">
					<div id="checkbox" class="page active"> 
						
						<!-- Simple checkbox with label -->
						<h4 class="header">Checkboxes</h4>
						<div>
							<div class="checkbox">
								<label class="dc-checkbox checkbox-ripple-effect">
									<input type="checkbox" id="checkboxError" value="option1">
									Checkbox with error
								</label>
							</div>
						</div>
						
						<!-- Simple checkbox with label, checked -->
						<div class="checkbox">
							<label class="dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="" checked>
								<span>Option one is this and that&mdash;be sure to include why it's great</span> </label>
						</div>
						
						<!-- Simple checkbox with label -->
						<div class="checkbox dc-default-theme">
							<label class="dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
								<span> Option one is this and that&mdash;be sure to include why it's great</span> </label>
						</div>
						
						<!-- Simple checkbox with label, Disabled -->
						<div class="checkbox dc-default-theme disabled">
							<label class="dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="" disabled>
								<span>Option two is disabled</span> </label>
						</div>
						<hr>
						<!--Inline checkboxes-->
						<h4 class="header">Inline Checkboxes</h4>
						<form>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="" checked>
								<span> 1</span> </label>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
								<span> 2</span> </label>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
								<span> 3</span> </label>
							<label class="checkbox-inline dc-checkbox checkbox-ripple-effect">
								<input type="checkbox" value="">
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../assets/js/jquery.js"></script> 
<script src="../../assets/js/ripple.js" language="javascript" type="text/javascript"></script> 
<script src="../../assets/js/ripple.js" language="javascript" type="text/javascript"></script> 
<script src="../../assets/js/dmaterial.js"></script>
</body>
</html>