<nav class="navbar navbar-inverse dc-header navbar-fixed-top z-depth">
	<div class="container-fluid">

		<!-- Sidebar Toggle Button-->

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect pull-left margin-r8 sidebar-toggle">
				<span class="dic-menu dic"></span>
			</a>
			<a class="navbar-brand" href="javascript:void(0);">Brand</a>
		</div>

		<!-- Navbar Right icon -->
		<div class="navbar-right-icon pull-right">
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect">
				<span class="dic-search dic"></span>
			</a>
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect topbar-toggle visible-xs-inline-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="dic-more-vert dic"></span>
			</a>
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect sidebar-toggle-right"><i class="dic-more-horiz dic"></i></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);" class="ripple-effect">Link <span class="sr-only">(current)</span></a></li>
				<li><a href="javascript:void(0);" class="ripple-effect">Link</a></li>
				<li class="dropdown"> <a href="javascript:void(0);" class="ripple-effect dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0);" class="ripple-effect">Action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Another action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" class="ripple-effect">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0);" class="ripple-effect">Link</a></li>
				<li class="dropdown"> <a href="javascript:void(0);" class="ripple-effect dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0);" class="ripple-effect">Action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Another action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->

	</div>
	<!-- /.container-fluid -->
</nav>
