<!-- Right sidebar -->
<aside class="sidebar sidebar-default sidebar-fixed-right z-depth" role="navigation">
  <!-- Sidebar navigation -->
  <ul class="nav sidebar-nav">
    <li class="dropdown"> <a class="ripple-effect dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown">All Mail <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"> Social</a></li>
        <li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"> Promo</a></li>
      </ul>
    </li>
    <li> <a class="ripple-effect" href="javascript:void(0);"> Trash</a> </li>
    <li> <a class="ripple-effect" href="javascript:void(0);"> Spam</a> </li>
    <li> <a class="ripple-effect" href="javascript:void(0);"> Follow Up</a> </li>
  </ul>
</aside>
