<!doctype html>
<html>

<head>
  <% include ../partials/head %>    

</head>

<body>
  <% include ../partials/header %>


    <section id="dc-main">

      <!-- Overlay for sidebar -->
      <div class="sidebar-overlay"></div>

      <!-- Left sidebar -->
      <% include ../partials/leftsidebar %>

        <!-- Start Content -->
        <div class="dc-content" id="content">
          <div id="dashboard">
            <h3>Card</h3>

            <!-- Column Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="card z-depth">
                  <div class="card-header">
                    <h2 class="card-media-heading">Title goes here</h2>
                    <span class="card-media-text">Secondary text</span>
                  </div>
                  <div class="card-body">
                    Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
                  </div>
                  <div class="card-action">
                    <button class="btn btn-flat ripple-effect btn-primary" type="button">Primary</button>
                    <button type="button" class="btn btn-flat ripple-effect btn-default">Action</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column End -->

            <!-- Column Start -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-default z-depth">
                  <div class="card-header">
                    <div class="media-left">
                      <a href="#" class="avatar-list-img">
                        <img width="40" height="40" src="https://www.letsalign.com/assets/img/portfolio/23.png">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                      <h3 class="card-media-heading">Two-line item</h3>
                      <span class="card-media-text">Secondary text</span>
                    </div>
                  </div>
                  <div class="card-media">
                    <img width="1184" height="666" class="img-responsive" src="https://www.letsalign.com/assets/img/portfolio/23.png">
                  </div>
                  <div class="card-heading">
                    <h2 class="card-media-heading">Title goes here</h2>
                    <span class="card-media-text">Secondary text</span>
                  </div>
                  <div class="card-body">
                    Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
                  </div>
                  <div class="card-action">
                    <button type="button" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary">
                      <span class="dic dic-share"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary">
                      <span class="dic dic-thumb-up"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary">
                      <span class="dic dic-drafts"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-default z-depth">
                  <div class="card-header">
                    <div class="media-left">
                      <a href="#" class="avatar-list-img">
                        <img width="40" height="40" src="https://www.letsalign.com/assets/img/portfolio/23.png">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                      <h3 class="card-media-heading">Two-line item</h3>
                      <span class="card-media-text">Secondary text</span>
                    </div>
                  </div>
                  <div class="card-media">
                    <img width="1184" height="666" class="img-responsive" src="https://www.letsalign.com/assets/img/portfolio/23.png">
                  </div>
                  <div class="card-heading">
                    <h2 class="card-media-heading">Title goes here</h2>
                    <span class="card-media-text">Secondary text</span>
                  </div>
                  <div class="card-body">
                    Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
                  </div>
                  <div class="card-action">
                    <button type="button" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary">
                      <span class="dic dic-share"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary">
                      <span class="dic dic-thumb-up"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary">
                      <span class="dic dic-drafts"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column End -->

            <!-- Column Start -->
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- 3 Column End -->

            <!-- 4 Column Start -->
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- 4 Column End -->

            <!-- 6 Column Start -->
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="card card-default z-depth card-wp">
                  <div class="card-body">
                    <p>Card Body</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- 6 Column End -->
          </div>
        </div>

        <!-- Right sidebar -->
        <% include ../partials/rightsidebar %>
          <% include ../partials/footertext %>


    </section>

    <% include ../partials/footer %>
      <script type="text/javascript" src="component/sidebar/js/sidebar.js"></script>

</body>

</html>
