<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>Tab bar</title>

<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<meta content="width=device-width, user-scalable=no" name="viewport">
<link href="../../assets/css/global.css" type="text/css" rel="stylesheet" />

</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="">
				<div class="card-body">
					<p>Default tab bar</p>
					
					<div class="card z-depth">
					  <!-- Nav tabs -->
					  <div class="dc-tabs dc-tabs-bg">
					  	  <div class="slider"></div>	
						  <ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
							<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
							<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
							<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
						  </ul>
					  </div>
					  <!-- Tab panes -->
					  <div class="card-body">
						  <div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">1...</div>
							<div role="tabpanel" class="tab-pane" id="profile">2...</div>
							<div role="tabpanel" class="tab-pane" id="messages">3...</div>
							<div role="tabpanel" class="tab-pane" id="settings">4...</div>
						  </div>
					  </div>
					</div>					  
					
					<p>Fixed and full-screen width tab</p>
					
					<div class="card z-depth">
					  <!-- Nav tabs -->
					  <div class="dc-tabs dc-tabs-bg" id="tab1">
					  	  <div class="slider"></div>
						  <ul class="nav nav-tabs nav-justified" role="tablist">
							<li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
							<li role="presentation"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
							<li role="presentation"><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
							<li role="presentation"><a href="#settings1" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
						  </ul>
					  </div>
					  <!-- Tab panes -->
					  <div class="card-body">
						  <div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home1">1...</div>
							<div role="tabpanel" class="tab-pane" id="profile1">2...</div>
							<div role="tabpanel" class="tab-pane" id="messages1">3...</div>
							<div role="tabpanel" class="tab-pane" id="settings1">4...</div>
						  </div>
					  </div>
					</div>
					
					<nav class="dc-tabs" id="dctab">
						<div class="scroller-left"> <i class="dic-chevron-left dic"></i> </div>						  	
						<!-- Nav tabs -->
						<div class="scrollable-wrapper dc-tabs-bg z-depth" style="cursor: grab;">
							<div class="slider"></div>
							<ul class="nav nav-tabs dc-list" role="tablist">
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								<li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
								<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
								<li role="presentation"><a href="#messages2" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
								<li role="presentation"><a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								
								
							
							</ul>
						</div>
						<div class="scroller-right"><i class="dic-chevron-right dic"></i></div>						  
					</nav>
					
					<div class="card z-depth" id="">
						<!-- Tab panes -->
						<div class="tab-content card-body">
							<div role="tabpanel" class="tab-pane active" id="home2">D'Material is providing developed templates which lets you use the bootstrap and new Google Material Design. Here are some of our D'Material theme templates which are created with bootstrap and the material design.</div>
							<div role="tabpanel" class="tab-pane" id="profile2">1 D'Material is providing developed templates which lets you use the bootstrap and new Google Material Design. Here are some of our D'Material theme templates which are created with bootstrap and the material design.</div>
							<div role="tabpanel" class="tab-pane" id="messages2">2 D'Material is providing developed templates which lets you use the bootstrap and new Google Material Design. Here are some of our D'Material theme templates which are created with bootstrap and the material design.</div>
							<div role="tabpanel" class="tab-pane" id="settings2">3 D'Material is providing developed templates which lets you use the bootstrap and new Google Material Design. Here are some of our D'Material theme templates which are created with bootstrap and the material design.</div>
						</div>
					</div>
					
					<p>without background tsb</p>
					<div class="card z-depth">
					  <!-- Nav tabs -->
					  <div class="dc-tabs" id="slider1">
					  	  <div class="slider"></div>			
						  <ul class="nav nav-tabs nav-justified" role="tablist">
							<li role="presentation" class="active"><a href="#home3" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
							<li role="presentation"><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
							<li role="presentation"><a href="#messages3" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
							<li role="presentation"><a href="#settings3" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
						  </ul>
					  </div>
					  <!-- Tab panes -->
					  <div class="card-body">
						  <div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home3">1...</div>
							<div role="tabpanel" class="tab-pane" id="profile3">2...</div>
							<div role="tabpanel" class="tab-pane" id="messages3">3...</div>
							<div role="tabpanel" class="tab-pane" id="settings3">4...</div>
						  </div>
					  </div>
					</div>
					
					<h2 class="dctab">sadsds</h2>
					<p>Addition of the More dropdown menu</p>
					<nav class="dc-tabs dc-tabs-bg z-depth">
						<div class="slider"></div>
						<ul class="nav nav-tabs">
							<li class="active"><a>Home</a></li>
							<li><a>About</a></li>
							<li><a>Work</a></li>
							<li><a>Contact</a></li>
							<li class="dropdown" role="presentation"> <a aria-expanded="false" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle"> More <span class="caret"></span> </a>
								<ul role="menu" class="dropdown-menu">
									<li><a href="#">Profile</a></li>
									<li><a href="#">Messages</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../assets/js/jquery.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/tab-scrollable.js"></script> 
<script type="text/javascript">

	$(document).ready( function() {
		
		$('.dc-tabs').dcTab();
		
	});

</script>

</body>
</html>
