.dc-radio span.dc-radiobutton {margin-bottom: 0;}

/*Radio input Hide*/
.dc-radio input {display: none;}

/*Custamize Radio*/
.dc-radio > span.dc-radio-label {display: inline-block; position: relative;	margin-right:8px;	padding-left: 16px;	cursor: pointer;}
.dc-radio > span.dc-radio-label:before {content: ""; display: block; position: absolute; width: 18px; height: 18px; left: 0; top:2px; border: 2px solid rgba(0, 0, 0, 0.54);	border-radius: 18px;}
.dc-radio > span.dc-radio-label:after {content: "";	display: block;	position: absolute;	top: 12px; background: rgba(0, 0, 0, 0.54); border-radius: 4px;	transition: .2s ease-in-out; height:8px; width:8px; margin-top:-5px; left:5px; transform:scale(0)}

/*Select Radio*/
.dc-radio :checked + span.dc-radio-label:after {transform:scale(1)}

/*Radio Layput*/
.radio-inline.dc-radio {padding-left: 0;}
.dc-radio .ink { background-color: rgba(0, 0, 0, 0.2);}
.radio .dc-radio {	padding-left: 0;}
.dc-radio {position: relative;}

/* Disabled Radio */
.radio.disabled label, fieldset[disabled] .radio label{ color:rgba(0, 0, 0, 0.26);}
.radio.disabled .dc-radio > span.dc-radio-label::before {border-color:rgba(0, 0, 0, 0.26); cursor: not-allowed;}

/* Card Inverse Radio */
.card-inverse .dc-radio > span.dc-radio-label::before {border-color:#fff;}
.card-inverse .dc-radio > span.dc-radio-label::after{ background-color:#fff}

/* Card Inverse Disabled Radio */
.card-inverse .radio.disabled label, fieldset[disabled] .radio label{ color:rgba(255, 255, 255, 0.26);}
.card-inverse .radio.disabled .dc-radio > span.dc-radio-label::before {border-color:rgba(255, 255, 255, 0.26);}
