<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Progress Bar - Linear Indeterminate</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/blue.css">
        <link rel="stylesheet" type="text/css" href="../icons/css/material-icon.css">
        <link rel="stylesheet" type="text/css" href="css/processbar.css">
    </head>
	<body>
        <div class="container">
    	<div class="row">
		<div class="col-sm-4 col-sm-push-4">
		
            <h1 class="header">Progress Bar</h1>
			<div class="card z-depth">
				<div class="card-body">
            <h2>Basic</h2>
            <div class="progress">
              <div class="progress-bar" style="width: 60%;"></div>
            </div>
            <h2>Contextual alternatives</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
            </div>
            <h2>Striped</h2>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            </div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            </div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
            </div>
            
            <h2>Animated</h2>
            <div class="progress progress-striped active">
              <div class="progress-bar" style="width: 45%"></div>
            </div>
            
            <h2>Stacked</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 35%"></div>
              <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
              <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
            </div>
        </div>
			</div>
		</div>
		</div>
		</div>
        <script src="../../assets/js/jquery.js"></script>
        <script src="../../assets/js/bootstrap.js"></script>
    </body>
</html>
