<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>D Material Theme</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/global.css" />
</head>
<body>

<nav class="navbar navbar-default dc-header navbar-fixed-top z-depth">

	<div class="container-fluid"> 
		
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary pull-left margin-r8 sidebar-toggle"><span class="dic-menu dic"></span></a>
			<a class="navbar-brand" href="javascript:void(0);">Brand</a> 
		</div>
		
		<!-- Navbar Right icon -->		
		<div class="navbar-right-icon pull-right"> 
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary"><span class="dic-search dic"></span></a>
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary topbar-toggle visible-xs-inline-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="dic-more-vert dic"></span></a>
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary sidebar-toggle-right"><i class="dic-more-horiz dic"></i></a> 
			<a href="javascript:void(0);" class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary dc-topbar-toggle"><i class="dic-filter-list dic"></i></a> 
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);" class="ripple-effect">Link <span class="sr-only">(current)</span></a></li>
				<li><a href="javascript:void(0);" class="ripple-effect">Link</a></li>
				<li class="dropdown"> <a href="javascript:void(0);" class="ripple-effect dropdown-toggle" data-toggle="dropdown" role="button" data-sidebar="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0);" class="ripple-effect">Action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Another action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" class="ripple-effect">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0);" class="ripple-effect">Link</a></li>
				<li class="dropdown"> <a href="javascript:void(0);" class="ripple-effect dropdown-toggle" data-toggle="dropdown" data-sidebar="true" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a href="javascript:void(0);" class="ripple-effect">Action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Another action</a></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" class="ripple-effect">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse --> 
		
	</div>
	<!-- /.container-fluid --> 
</nav>

<div class="topbar-fixed" role="navigation"> 
	
	<div class="topbar-container">
		<div class="container-fluid">
		<a class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary pull-right topbar-close" href="#"><i class="dic-close dic"></i></a>
		<div class="clearfix"></div><br>
		<div class="row">
			<div class="col-sm-3">
				<div class="card card-default z-depth">
					<div class="card-header">
						<h2 class="card-media-heading">Title goes here</h2>
						<span class="card-media-text">Secondary text</span>	
					</div>
					<div class="card-body">
						Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
					</div>
					<div class="card-action">
						<button class="btn btn-flat ripple-effect btn-primary" type="button">Primary</button>
						<button type="button" class="btn btn-flat ripple-effect btn-default">Action</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card card-default z-depth">
					<div class="card-header">
						<h2 class="card-media-heading">Title goes here</h2>
						<span class="card-media-text">Secondary text</span>	
					</div>
					<div class="card-body">
						Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
					</div>
					<div class="card-action">
						<button class="btn btn-flat ripple-effect btn-primary" type="button">Primary</button>
						<button type="button" class="btn btn-flat ripple-effect btn-default">Action</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card card-default z-depth">
					<div class="card-header">
						<h2 class="card-media-heading">Title goes here</h2>
						<span class="card-media-text">Secondary text</span>	
					</div>
					<div class="card-body">
						Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
					</div>
					<div class="card-action">
						<button class="btn btn-flat ripple-effect btn-primary" type="button">Primary</button>
						<button type="button" class="btn btn-flat ripple-effect btn-default">Action</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card card-default z-depth">
					<div class="card-header">
						<h2 class="card-media-heading">Title goes here</h2>
						<span class="card-media-text">Secondary text</span>	
					</div>
					<div class="card-body">
						Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
					</div>
					<div class="card-action">
						<button class="btn btn-flat ripple-effect btn-primary" type="button">Primary</button>
						<button type="button" class="btn btn-flat ripple-effect btn-default">Action</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
</div>

<section id="dc-main">

	<!-- Overlay for sidebar -->
	<div class="sidebar-overlay"></div>

	<!-- Left sidebar -->
	<aside class="sidebar sidebar-default sidebar-stacked sidebar-left open z-depth" role="navigation">
		<ul class="nav sidebar-nav">
			<!-- My Account -->
			<li class="dropdown my-account">
				<a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
					<div class="media-left">
						<img width="40" height="40" alt="avatar" src="../../assets/images/avatar-icon-40x40.png">
					</div>
					<div class="media-body media-middle">D,Material Admin</div>
					<div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
			  	</a>
				<ul class="dropdown-menu">
					<li> <a class="ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="dic-person dic media-left media-middle"></i> <span class="media-body">View Profile</span></a></li>
					<li> <a class="ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="dic-settings dic media-left media-middle"></i> <span class="media-body">Settings</span></a></li>
					<li> <a class="ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="dic-history dic media-left media-middle"></i> <span class="media-body">Logout</span></a></li>
					<li class="divider"></li>
				</ul>
			</li>
			
			<li> <a class="ripple-effect" href="javascript:void(0);"><i class="dic dic-delete media-left media-middle"></i> <span class="media-body">Trash</span></a> </li>
			<li> <a class="ripple-effect" href="javascript:void(0);"><i class="dic dic-notifications media-left media-middle"></i> <span class="media-body">Spam</span></a> </li>
			<li class="dropdown">
				<a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
					<div class="media-body media-middle">D,Material Admin</div>
					<div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
			  	</a>
				<ul class="dropdown-menu">
					<li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="dic-person dic media-left media-middle"></i> <span class="media-body">View Profile</span></a></li>
					<li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="dic-settings dic media-left media-middle"></i> <span class="media-body">Settings</span></a></li>
					<li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="dic-history dic media-left media-middle"></i> <span class="media-body">Logout</span></a></li>
					<li class="divider"></li>
				</ul>
			</li>
			<li> <a class="ripple-effect" href="javascript:void(0);"><i class="dic dic-notifications media-left media-middle"></i> <span class="media-body">Follow Up</span></a> </li>
		</ul>
	</aside>

	<!-- Start Content -->
	<div class="dc-content" id="content">
		<h2 class="headline">Sidebar Constructor</h2>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
		<p>Sidebar</p>
	</div>

	<!-- Right sidebar -->
	<aside class="sidebar sidebar-default sidebar-fixed-right z-depth" role="navigation"> 
		<!-- Sidebar navigation -->
		<ul class="nav sidebar-nav">
			<li class="dropdown"> <a class="ripple-effect dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown">All Mail <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"> Social</a></li>
					<li><a class="ripple-effect" href="javascript:void(0);" tabindex="-1"> Promo</a></li>
				</ul>
			</li>
			<li> <a class="ripple-effect" href="javascript:void(0);"> Trash</a> </li>
			<li> <a class="ripple-effect" href="javascript:void(0);"> Spam</a> </li>
			<li> <a class="ripple-effect" href="javascript:void(0);"> Follow Up</a> </li>
		</ul>
	</aside>

</section>

<script type="text/javascript" src="../../assets/js/jquery.js"></script> 
<script type="text/javascript" src="../../assets/js/bootstrap.js"></script> 
<script type="text/javascript" src="js/sidebar.js"></script>
<script src="../../assets/js/dmaterial.js"></script>

</body>
</html>
