<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Typography</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/global.css" />
</head>

	<body style="margin:30px;">
		<p>Typography</p>
		<h4 class="display-4">Display 4</h4>
		<h3 class="display-3">Display 3</h3>
		<h2 class="display-2">Display 2</h2>
		<h1 class="display-1">Display 1</h1>
		<h1>Heading</h1>
		<h2>Title</h2>
		<h3>Sub hed</h3>
		<p class="strong">Body 2</p>
		<strong style="display: block">Body 2</strong>
		<p>Body 1</p>
		<div class="caption">Caption</div>
		
	</body>

</html>
