<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>dropdown</title>
<link href="../../assets/css/global.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-push-2">
		
			<h3>DropDown Hover</h3>
			<div class="card z-depth">
				<div class="card-body">
					<div class="row">
						<div class="col-xs-12">
							<p>Hover dropdown</p>
							<span class="dropdown clearfix">
								<button class="btn ripple-effect btn-primary dropdown-toggle dc-dropdown-hover" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Dropdown Bottom Left <span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
									<li class="dropdown-header" role="presentation">Dropdown header</li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
									<li class="dropdown-header" role="presentation">Dropdown header</li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
								</ul>
							</span>
							<p>Divider</p>
							<span class="dropdown clearfix">
								<button class="btn ripple-effect btn-primary dropdown-toggle dc-dropdown-hover" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-expanded="true">Dropdown Bottom right <span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu">
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
									<li class="divider" role="presentation"></li>
									<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
								</ul>
							</span>
							
							<p>Disabled menu items</p>
							<span class="dropdown clearfix">
							<button class="btn ripple-effect btn-primary dropdown-toggle dc-dropdown-hover" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">Dropdown Top left <span class="caret"></span></button>
							<ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Regular link</a></li>
								<li class="disabled" role="presentation"><a href="#" tabindex="-1" role="menuitem">Disabled link</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another link</a></li>
							</ul>
							</span>
							
							<p>Disabled menu items</p>
							<span class="dropdown clearfix">
							<button class="btn ripple-effect btn-primary dropdown-toggle dc-dropdown-hover" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">Dropdown Top Right <span class="caret"></span></button>
							<ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Regular link</a></li>
								<li class="disabled" role="presentation"><a href="#" tabindex="-1" role="menuitem">Disabled link</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another link</a></li>
							</ul>
							</span> 
						</div>
					</div>
				</div>
			</div>
			
			<h3>DropDown Click</h3>
			<div class="card z-depth">
				<div class="card-body">
					<div class="row">
						<div class="col-xs-12">
						
						<p>Headers</p>
						<span class="dropdown clearfix">
							<button class="btn ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Dropdown Center <span class="caret"></span></button>
							<ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu dropdown-menu-center">
								<li class="dropdown-header" role="presentation">Dropdown header</li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
								<li class="dropdown-header" role="presentation">Dropdown header</li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
							</ul>
						</span>
						
						
						<p>Headers</p>
											
						<span class="dropdown clearfix">
						<button class="btn ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Dropdown Bottom Left <span class="caret"></span></button>
						<ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
							<li class="dropdown-header" role="presentation">Dropdown header</li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
							<li class="dropdown-header" role="presentation">Dropdown header</li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
						</ul>
						</span>
						
						<p>Divider</p>
						<span class="dropdown clearfix">
						<button class="btn ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-expanded="true">Dropdown Bottom right <span class="caret"></span></button>
						<ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu">
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
							<li class="divider" role="presentation"></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
						</ul>
						</span>
						
						<p>Disabled menu items</p>
						<span class="dropdown clearfix">
						<button class="btn ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">Dropdown Top left <span class="caret"></span></button>
						<ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu">
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Regular link</a></li>
							<li class="disabled" role="presentation"><a href="#" tabindex="-1" role="menuitem">Disabled link</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another link</a></li>
						</ul>
						</span>
						
						<p>Disabled menu items</p>
						<span class="dropdown clearfix">
						<button class="btn ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">Dropdown Top Right <span class="caret"></span></button>
						<ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu">
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Regular link</a></li>
							<li class="disabled" role="presentation"><a href="#" tabindex="-1" role="menuitem">Disabled link</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another link</a></li>
						</ul>
						</span> 
						</div>
					</div>
				</div>
			</div>
			
			<h3>Icon DropDown Hover</h3>
			<div class="card z-depth">
				<div class="card-body">
					<div class="row">
						<div class="col-xs-12">
						<p>Dropdown Menu Bottom Left</p>
						<span class="dropdown clearfix">
						<button class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary" type="button" id="dropdownMenuBottomLeft" data-toggle="dropdown" aria-expanded="true"><span class="dic-more-vert dic"></span></button>
						<ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
							<li class="dropdown-header" role="presentation">Dropdown header</li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
							<li class="dropdown-header" role="presentation">Dropdown header</li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
						</ul>
						</span>
						
						<p>Dropdown Menu Bottom center</p>
						<span class="dropdown clearfix">
							<button class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary" type="button" id="dropdownMenuBottomRight" data-toggle="dropdown" aria-expanded="true"><span class="dic-more-vert dic"></span></button>
							<ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu dropdown-menu-center">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
								<li class="divider" role="presentation"></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
							</ul>
						</span>
						
						<p>Dropdown Menu Bottom Right</p>
						<span class="dropdown clearfix">
						<button class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary" type="button" id="dropdownMenuBottomRight" data-toggle="dropdown" aria-expanded="true"><span class="dic-more-vert dic"></span></button>
						<ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu dropdown-menu-right">
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
							<li class="divider" role="presentation"></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
						</ul>
						</span>
						
						<p>Dropdown Menu Top Left</p>
						<span class="dropdown dropup clearfix">
						<button class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary" type="button" id="dropdownMenuTopLeft" data-toggle="dropdown" aria-expanded="true"><span class="dic-more-vert dic"></span></button>
						<ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu dropdown-menu-bottom-left">
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Regular link</a></li>
							<li class="disabled" role="presentation"><a href="#" tabindex="-1" role="menuitem">Disabled link</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another link</a></li>
						</ul>
						</span>
						
						<p>Dropdown Menu Top Right</p>
						<span class="dropdown dropup clearfix">
						<button class="btn btn-sm btn-circle btn-flat ripple-effect btn-primary" type="button" id="dropdownMenuTopRight" data-toggle="dropdown" aria-expanded="true"><span class="dic-more-vert dic"></span></button>
						<ul aria-labelledby="dropdownMenu3" role="menu" class="dropdown-menu dropdown-menu-bottom-right">
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Regular link</a></li>
							<li class="disabled" role="presentation"><a href="#" tabindex="-1" role="menuitem">Disabled link</a></li>
							<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another link</a></li>
						</ul>
						</span> 
						
						</div>
					</div>
				</div>	
			</div>
			
		</div>
	</div>
</div>
</body>
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="js/bootstrap-hover-dropdown.js"></script>
<script>
	// very simple to use!
	$(document).ready(function() {
		$('.dc-dropdown-hover').dropdownHover().dropdown();
	});
</script>
<script type="text/javascript" src="../../assets/js/dmaterial.js"></script>
</html>
